{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Project Viewer
{% endblock %}

{% block main %}
    <div class="dashboard-content">
        <div>
            {{ render_chart(chart) }}
        </div>
    </div>
{% endblock %}